<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCClassConfig:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMVCClassConfig-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringMVCClassConfig:war exploded" />
    </root>
  </artifact>
</component>